<table class="table table-hover">
  <thead class="tableHeading">
    <tr>
      <th scope="col">Burger Name</th>
      <th scope="col">Wanna Eat It?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Bacon Cheese Burger</th>
      <td><button type="button" class="btn btn-sm btn-outline-info innerButtons">Eat it!</button>
      </td>
    </tr>
    <tr>
      <th scope="row">Veggie Burger</th>
      <td><button type="button" class="btn btn-sm btn-outline-info innerButtons">Eat it!</button>
    </tr>
  </tbody>
</table>