<table class="table table-hover">
  <thead class="tableHeading">
    <tr>
      <th scope="col">Burger Name</th>
      <th scope="col">Wanna Eat It?</th>
    </tr>
  </thead>
  <tbody>
    {{#if wholeBurgers}}
    {{#each wholeBurgers}}
    <tr>
      <th scope="row">{{this.burger_name}}</th>
      <td><button type="button" class="btn btn-sm btn-outline-info innerButtons eatburger" data-id="{{this.burger_id}}">Eat
          it!</button>
      </td>
    </tr>
    {{/each}}
    {{else}}
    <td>
      Better Make 'da Burgers!
    </td>
    {{/if}}
  </tbody>
</table>