Render the eaten/uneaten burgers as partials
  * Get routes for eaten/uneaten

Post route for inserting new burger
  * Form

Update routes for eating a burger
  * button adjacent to each uneaten burger

<h1>

</h1>